<div class="grid border-b border-gray-700 bg-black grid-cols-3">
  <div class="left flex items-center">
  <div id="menubutton-container" class="w-12 h-12 bg-black border-r border-gray-700 items-center justify-center flex">
    <i data-feather="menu" style="width: 21px"></i>
  </div>
  <div id="brand-container" class="h-12 flex items-center ml-4">
    <span class="font-bold text-lg">Symphony</span>
  </div>
  </div>
  <div class="center flex items-center">
    <form class="w-full">
      <input type="text" class="h-8 bg-gray-600 w-full placeholder-white placeholder-opacity-50 px-3 focus:h-10 outline-none transition-all duration-100 ease-in" placeholder="Search Symphony..." />
    </form>
  </div>
  <div class="right"></div>
</div>
